<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--helps making website responsive-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css">
    <title>MW-MossWallah</title>
</head>

<body>
    <div class="header" id="header">
        <nav>
            <div class="logo">
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="#header">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#checkmoss">MOSS</a></li>
                    <li><a href="#datafeed">FEED</a></li>
                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="">HELP</a></li>
                </ul>
            </div>
        </nav>

        <div class="textbox">
            <h1 id="header">
                Aaao Milkar Moss Lagaaen :)))
            </h1>
            <h2>
                Sabka Lagega !
            </h2>
        </div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>

        <div class="text">
            <!-- <pre> -->
            A user-friendly platform for easy storage and retrievel of data for MOSSed Students.
            <br></br>
            It also helps in checking the history of the Student if he/she was involved in MOSS.
            <!-- </pre> -->
        </div>

    </div>

    <div class="about" id="about">
        <nav>
            <!-- <div class="logo">
            </div> -->
            <div class="nav_links">
                <ul>
                    <li><a href="#header">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#checkmoss">MOSS</a></li>
                    <li><a href="#datafeed">FEED</a></li>
                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="">HELP</a></li>
                </ul>
            </div>
        </nav>

        <div class="textbox">
            <h1 id="ok">
                What is MOSS? What we are doing to benefit college/students?
            </h1>
        </div>
        <br></br>
        <div class="text">
            <!-- <pre> -->
            It is a Measure of Software Similarity.
            <br></br>
            It is basically applied to catch the students who directly copy each other's codes.
            <br></br>
            (basically for now c codes.)
            <br></br>
            Our Aim: We aim at preserving the moss data based on the moss detection done by external
            agency(standford.edu)
            <br></br>
            We store the given data in the database and also give an easy retrievel of data based on the user's demands.
            <br></br>
            We observe people also face some problems by not having their MOSS history to disprove their cheating
            claims.
            <br></br>
            We are maintaining the whole database per batch (UG2KXX) to help the college/students to prove their claims.
            <br></br>
            <!-- </pre> -->
        </div>
    </div>

    <div class="checkmoss" id="checkmoss">
        <nav>
            <div class="logo">
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="#header">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#checkmoss">MOSS</a></li>
                    <li><a href="#datafeed">FEED</a></li>
                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="">HELP</a></li>
                </ul>
            </div>
        </nav>
        <h1 id="jai">Under Construction....</h1>
    </div>

    <div class="datafeed" id="datafeed">

        <nav>
            <div class="logo">
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="#header">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#checkmoss">MOSS</a></li>
                    <li><a href="#datafeed">FEED</a></li>
                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="">HELP</a></li>
                </ul>
            </div>
        </nav>
        <H1 id="head">MOSS Data Store</H1>

        <form action="uploading" method="POST" enctype="multipart/form-data" class="form1">
            <h1 id="pg31">Enter the Assignment Name : </h1>
            <input type="text" name="table" class="text">
            <br></br>
            <h2 id="pg3">Choose a <b>CSV</b> File</h2>
            <input type="file" name="file" class="file">
            <!-- <input type="text" name="habibi"> -->
            <button type="submit" class="submit">Submit</button>
            <div class="updatedb">
                <p>To update the college database , click <a href="/updatecol">here</a></p>
            </div>
        </form>

    </div>

</body>

</html>
