<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--helps making website responsive-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css">
    <title>MW-MossWallah</title>
</head>

<body>
    <div class="removeflags">
        <nav>
            <!-- <div class="logo">
            </div> -->
            <div class="nav_links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/">ABOUT</a></li>
                    <li><a href="/">MOSS</a></li>
                    <li><a href="/">FEED</a></li>
                    <li><a href="/">SEARCH</a></li>
                    <li><a href="/">HELP</a></li>
                </ul>
            </div>
        </nav>
        <h1 style="color:yellow;margin-left: 35%; margin-bottom: 10%;font-weight: bolder; font-size: 40px;">Moss Hatao... 2 min mein!!!</h1>
        <label id="droptext">Select Assignments</label>
        <form action="dbedit" method="POST">
            <select name="dropdown" id="drop" type="text">
                {% for table in listoftables %}
                <option value="{{table}}">{{table}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <br>
            <br>
    
            <!-- <hr> -->
            <h2 style="color:yellow;margin-left: 42%;">Enter roll numbers : </h2>
            <br>
            <br>
            <input type="text" id="inp1" name="rno1">
            <input type="text" id="inp2" name="rno2">
            <br>
            <br>
            <br>
            <br>
            <h3 style="color:yellow;margin-left: 39%;">Enter Question No. in (1,2,3,...) format</h3>
            <br>
            <input type="text" id="inp3" name="ques">
            <br>
            <button type="submit" id="okkk">Search</button>
        </form>
    
    </div>
</body>
</html>
