<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--helps making website responsive-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css">
    <title>MW-MossWallah</title>
</head>

<body>
    <div class="header" id="header">
        <nav>
            <div class="logo">
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="/redirect">HOME</a></li>
                    <li><a href="/redirect">ABOUT</a></li>
                    <li><a href="/redirect">MOSS</a></li>
                    <li><a href="/redirect">FEED</a></li>
                    <li><a href="/redirect">SEARCH</a></li>
                    <li><a href="/redirect">HELP</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <h1 id="update">Records Successfully updated...</h1>
    </div>
</body>

</html>
